@model SaltedButterWebsite.ViewModel.SaltedButterViewModel

@if (this.ViewContext.FormContext == null) 
{
    this.ViewContext.FormContext = new FormContext(); 
}

<div class="modal">
    <form method=post action=SaltedButter/Create>
    
    <input type="hidden" id="placeid" name="PlaceId" value="@Model.PlaceId" />
    <input type="hidden" id="latitude" name="Latitude" value="@Model.Latitude" />
    <input type="hidden" id="longitude" name="Longitude" value="@Model.Longitude" />
	<div class="modal-header">
    <a href="#" class="close" data-dismiss="alert">×</a>
        <div id="place-name">
            <div class="control-group">                
                <div class="controls">
                    @Html.TextBoxFor(model=>model.Name, new{placeholder="Nom du lieu"})                  
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
              </div>
        </div>
        <div id="place-address">
        @Html.Raw(Model.AddressText)
        @Html.Hidden("AddressText", Model.AddressText)
        </div>       
    </div>
    <div class="modal-body">
        <div class="control-group">
            @Html.ValidationMessageFor(model=>model.Status)
            <label class="control-label" for="optionsRadios1">Y a-t-il du beurre salé à cet endroit ?</label>            
            <div class="controls">
                <label class="radio inline">
                    @Html.RadioButtonFor(model=>model.Status, "true",Model.Status == "true" ? "checked":string.Empty)
                    Oui
                </label>
                <label class="radio inline">
                    @Html.RadioButtonFor(model => model.Status, "false", Model.Status == "false" ? "checked" : string.Empty)
                    Non
                </label>                
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                @Html.TextAreaFor(model=>model.Comment,new{placeholder="Ce que vous avez aimé ou pas dans ce lieu."})
            </div>
        </div>      
    </div>
    <div class="modal-footer">
        <div class="control-group">            
            <div class="controls">
              @Html.TextBoxFor(model => model.UserName, new { placeholder = "Votre nom" })
              @Html.ValidationMessageFor(model=>model.UserName)
            </div>
          </div>
        <div class="control-group">            
            <div class="controls">
                @Html.TextBoxFor(model => model.Email, new { placeholder = "Votre email" })              
                @Html.ValidationMessageFor(model=>model.Email)
            </div>
          </div>
          
    </div>
    <div class="form-actions">
          <button type="submit" class="btn btn-primary">Enregistrer</button>
          <button type="button" class="btn">Annuler</button>                     
    </div>
    </form>
    </div>
     
<script type="text/javascript">
    $(document).ready(function () {
        $('input', 'form').blur(function () {            
            $(this).valid();            
        });
 
    });
</script>


