@model SaltedButterWebsite.ViewModel.SaltedButterViewModel


<div class="modal">
    <form id="addForm" action="SaltedButter/Create" method="post" class="form">
    <input type="hidden" id="placeid" name="PlaceId" value="@Model.PlaceId" />
	<div class="modal-header">
        <div id="place-name">
            <div class="control-group">                
                <div class="controls">
                  <input type="text" id="inputPlaceName" name="Name" placeholder="Nom du lieu" value="@Model.Name"/>
                  @Html.ValidationMessageFor(model => model.Name)
                </div>
              </div>
        </div>
        <div id="place-adress">
        @Html.Raw(Model.AddressText)
        @Html.Hidden("AddressText", Model.AddressText)
        </div>
        @*@Html.Hidden("Address1", Model.Address1);
        @Html.Hidden("Address2", Model.Address2);
        @Html.Hidden("PostalCode", Model.PostalCode);
        @Html.Hidden("City", Model.City);
        @Html.Hidden("CountryCode", Model.CountryCode);*@
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="optionsRadios1">Y a-t-il du beurre salé à cet endroit ?</label>
            <div class="controls">
                <label class="radio inline">                
                  <input type="radio" name="Status" id="optionsRadios1" value="true" checked="@(Model.Status == "true" ? "checked":string.Empty)"/>
                  Oui
                </label>
                <label class="radio inline">
                  <input type="radio" name="Status" id="optionsRadios2" value="false" checked="@(Model.Status == "false" ? "checked":string.Empty)"/>
                  Non
                </label>
                @Html.ValidationMessageFor(model=>model.Status)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <textarea id="textareaComment" placeholder="Ce que vous avez aimé ou pas dans ce lieu." value="@Model.Comment"></textarea>
            </div>
        </div>      
    </div>
    <div class="modal-footer">
        <div class="control-group">            
            <div class="controls">
              <input type="text" id="inputUsername" name="UserName" placeholder="Votre nom" value="@Model.UserName"/>
              @Html.ValidationMessageFor(model=>model.UserName)
            </div>
          </div>
        <div class="control-group">            
            <div class="controls">
              <input type="text" id="inputEmail" name="Email" placeholder="Votre email" value="@Model.Email"/>
              @Html.ValidationMessageFor(model=>model.Email)
            </div>
          </div>
          
    </div>
    <div class="form-actions">
          <button type="submit" class="btn btn-primary">Enregistrer</button>
          <button type="button" class="btn">Annuler</button>                     
    </div>
</div>
     

