@model SaltedButterWebsite.ViewModel.SaltedButterViewModel

<div class="modal">
	<div class="modal-header">
        <div id="place-name">@Model.Name</div>
        <div id="place-adress">
            @Html.Raw(Model.AddressText)
        </div>
    </div>
    <div class="modal-body">
        <div id="status"></div>
        <div id="photo"></div>
        <div id="comment">@Model.Comment</div>
    </div>
    <div class="modal-footer">
        Par @Model.UserName il y a @Model.Interval</div>
    </div>
</div>
                